<a href="https://colab.research.google.com/github/Suryapv26/grokking/blob/main/ANN_Churn_A_Z.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [1]:

import numpy as np
import pandas as pd
import tensorflow as tf

Open dataset

In [2]:

dataset = pd.read_csv('Churn_Modelling.csv')

print(type(dataset))

<class 'pandas.core.frame.DataFrame'>

Get unique values of cat col

In [3]:
print(dataset['Gender'].unique())
print(dataset['Geography'].unique())

['Female' 'Male']
['France' 'Spain' 'Germany']

Getting the count of values of geography colum

In [4]:
dataset['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

One hot encoding of cat columns.
Redundant columns are dropped

In [19]:

one_hot_encoded_data = pd.get_dummies(dataset, columns = ['Geography', 'Gender'])
print(one_hot_encoded_data)
df = one_hot_encoded_data.drop(['RowNumber','CustomerId','Surname'],axis = 1)

df = df.drop(['Geography_Spain','Gender_Female'],axis = 1)

      RowNumber  CustomerId    Surname  CreditScore  Age  Tenure    Balance  \
0             1    15634602   Hargrave          619   42       2       0.00
1             2    15647311       Hill          608   41       1   83807.86
2             3    15619304       Onio          502   42       8  159660.80
3             4    15701354       Boni          699   39       1       0.00
4             5    15737888   Mitchell          850   43       2  125510.82
...         ...         ...        ...          ...  ...     ...        ...
9995       9996    15606229   Obijiaku          771   39       5       0.00
9996       9997    15569892  Johnstone          516   35      10   57369.61
9997       9998    15584532        Liu          709   36       7       0.00
9998       9999    15682355  Sabbatini          772   42       3   75075.31
9999      10000    15628319     Walker          792   28       4  130142.79

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  \
0                 1          1               1        101348.88       1
1                 1          0               1        112542.58       0
2                 3          1               0        113931.57       1
3                 2          0               0         93826.63       0
4                 1          1               1         79084.10       0
...             ...        ...             ...              ...     ...
9995              2          1               0         96270.64       0
9996              1          1               1        101699.77       0
9997              1          0               1         42085.58       1
9998              2          1               0         92888.52       1
9999              1          1               0         38190.78       0

      Geography_France  Geography_Germany  Geography_Spain  Gender_Female  \
0                    1                  0                0              1
1                    0                  0                1              1
2                    1                  0                0              1
3                    1                  0                0              1
4                    0                  0                1              1
...                ...                ...              ...            ...
9995                 1                  0                0              0
9996                 1                  0                0              0
9997                 1                  0                0              1
9998                 0                  1                0              0
9999                 1                  0                0              1

      Gender_Male
0               0
1               0
2               0
3               0
4               0
...           ...
9995            1
9996            1
9997            0
9998            1
9999            0

[10000 rows x 17 columns]

In [20]:
print(df)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619   42       2       0.00              1          1
1             608   41       1   83807.86              1          0
2             502   42       8  159660.80              3          1
3             699   39       1       0.00              2          0
4             850   43       2  125510.82              1          1
...           ...  ...     ...        ...            ...        ...
9995          771   39       5       0.00              2          1
9996          516   35      10   57369.61              1          1
9997          709   36       7       0.00              1          0
9998          772   42       3   75075.31              2          1
9999          792   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited  Geography_France  \
0                  1        101348.88       1                 1
1                  1        112542.58       0                 0
2                  0        113931.57       1                 1
3                  0         93826.63       0                 1
4                  1         79084.10       0                 0
...              ...              ...     ...               ...
9995               0         96270.64       0                 1
9996               1        101699.77       0                 1
9997               1         42085.58       1                 1
9998               0         92888.52       1                 0
9999               0         38190.78       0                 1

      Geography_Germany  Gender_Male
0                     0            0
1                     0            0
2                     0            0
3                     0            0
4                     0            0
...                 ...          ...
9995                  0            1
9996                  0            1
9997                  0            0
9998                  1            1
9999                  0            0

[10000 rows x 12 columns]

get column names as list

In [21]:
list(df.columns.values)

['CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited',
 'Geography_France',
 'Geography_Germany',
 'Gender_Male']

rearrange the columns to bring dependent variable column to the end so that splitting of test and train set would be easier

In [22]:
df = df[['CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
  'Geography_France',
 'Geography_Germany',
 'Gender_Male','Exited']]

In [23]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Gender_Male,Exited
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,1,0
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,1,0
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,1,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,0

In [24]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [34]:
X.shape

(10000, 11)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
ann = tf.keras.models.Sequential()

In [29]:
#add fully connected layer units--> #neurons no rule of thumb exist
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))
#binary classifier hence 1 neuron in o/p layer and we need probabilities hence using sigmoid
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

#since we have binary classifier use binary cross entropy. if categorical use 
#categorical cross entropy with activation = softmax
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6050 - accuracy: 0.7256
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4955 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4577 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4342 - accuracy: 0.8006
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4261 - accuracy: 0.8084
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4221 - accuracy: 0.8160
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4197 - accuracy: 0.8181
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4173 - accuracy: 0.8196
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4153 - accuracy: 0.8227
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4137 - accuracy: 0.8255
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4120 - accuracy: 0.8267
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4106 - accuracy: 0.8289
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4090 - accuracy: 0.8292
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4076 - accuracy: 0.8295
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8300
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4052 - accuracy: 0.8306
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4040 - accuracy: 0.8314
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4028 - accuracy: 0.8325
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4022 - accuracy: 0.8336
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4010 - accuracy: 0.8342
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4006 - accuracy: 0.8345
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3995 - accuracy: 0.8335
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3984 - accuracy: 0.8332
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3969 - accuracy: 0.8340
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3957 - accuracy: 0.8334
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3938 - accuracy: 0.8345
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3923 - accuracy: 0.8344
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3902 - accuracy: 0.8355
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3877 - accuracy: 0.8378
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3859 - accuracy: 0.8375
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3830 - accuracy: 0.8382
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3805 - accuracy: 0.8419
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3786 - accuracy: 0.8444
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3758 - accuracy: 0.8450
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3736 - accuracy: 0.8438
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3712 - accuracy: 0.8457
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3693 - accuracy: 0.8468
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3673 - accuracy: 0.8468
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3646 - accuracy: 0.8493
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3628 - accuracy: 0.8484
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3596 - accuracy: 0.8528
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3577 - accuracy: 0.8520
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3553 - accuracy: 0.8526
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3545 - accuracy: 0.8544
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8536
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8533
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8555
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8559
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8562
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3499 - accuracy: 0.8547
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3488 - accuracy: 0.8554
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3485 - accuracy: 0.8541
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8547
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8550
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8564
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8545
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8566
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8545
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3466 - accuracy: 0.8574
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3461 - accuracy: 0.8564
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8576
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8580
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8584
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8568
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8568
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8576
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8571
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8584
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8593
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8594
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8580
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8604
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8564
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8587
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8594
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8576
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8597
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8587
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8605
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8587
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8583
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8584
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8615
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8583
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8594
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8586
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8616
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8593
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8597
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8597
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8600
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8614
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8594
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8622
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8611
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8610
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8611
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8600
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8600
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8614

In [ ]:
'CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
  'Geography_France',
 'Geography_Germany',
 'Gender_Male','Exited'

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer ?

In [35]:
print(ann.predict(sc.transform([[600,40,3,60000,2,1,1,50000,1,0,0]])) > 0.5)

1/1 [==============================] - 0s 20ms/step
[[False]]

In [32]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1528   67]
 [ 204  201]]

0.8645

In [18]:
dataset1 = pd.read_csv('Churn_Modelling.csv')

X1 = dataset1.iloc[:, 3:-1].values
y1 = dataset1.iloc[:, -1].values
print(X1.shape)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X1[:, 2] = le.fit_transform(X1[:, 2])

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X1 = np.array(ct.fit_transform(X1))

(10000, 10)

In [7]:
print(X1.shape)

(10000, 12)

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X1 = np.array(ct.fit_transform(X1))

In [9]:
print(X1.shape)

(10000, 13)